html {
	background-color: skyblue;
}

li {
	text-align: center;
	border-bottom: 1px solid black;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Navbar Styling */

#dropdownMenu1 {
	background: none;
	height: 100%;
}

#grocerypool {
	margin-top: 5px !important;
	color: white;
}

#logininfo {
	margin: 12px !important;
	color: white;
}

#navbar-right {
	display: flex;
	align-content: center;
	padding: 3px;
}

#sarah {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-weight: bold;
}

.wireframe {
	border-width: thin;
	border-style: dashed;
	border-color: skyblue;
}

.header {
	display: flex;
	align-content: center;
	justify-content: space-between;
	height: 9vh;
	padding-left: 10px;
	background-color: limegreen;
}


.content {
	height: 79vh;
}

.paging {
	height: 60vh;
	overflow-y: scroll;
}

.details-page {
	height: 60vh;
}

.store-search-bar {
	height: 15vh;
}

.delivery-details {
	height: 100%;
}

.order-progress {
	height: 7.5vh;
	margin-top: 2vh;
}

html {
	background-color: skyblue;
}

.wireframe {
	border-width: thin;
	border-style: dashed;
	border-color: skyblue;
}

.details-page {
	height: 60vh;
}

.store-search-bar {
	height: 15vh;
}

.search-bar-container {
	padding-top: auto;
}

.delivery-details {
	height: 100%;
}

.items-page {
	height: 100%;
}

.items-page ul {
	list-style-type: none;
}
.items-page li {
	border: thin dashed skyblue;
}

.order-progress {
	height: 7.5vh;
	margin-top: 2vh;
}

/* Friends page */

.friends-page {
	height: 100%;
}

.friends-info-bar {
	height: 30%;
	text-align: center;
}
.friends-select {
	height: 70%;
	overflow-y: scroll;
}

.friends-select li {
	list-style-type: none;
	border: thin dashed grey;
}

/* Footer Styling */

.footer {
	display: flex;
	justify-content: flex-end;
	height: 12vh;
	padding: 10px;
	background-color: #98e698;
}

#confirmrequest {
	width: 40%;
	display: none;
}
